<?xml version="1.0" encoding="UTF-8"?>
<configuration>

        <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
                <resetJUL>true</resetJUL>
        </contextListener>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                        <pattern>%d{HH:mm:ss.SSS} %highlight([%-5level]) %logger{15} - %msg%n%rEx</pattern>
                        <immediateFlush>false</immediateFlush>
                </encoder>
        </appender>

        <root level="WARN">
                <appender-ref ref="CONSOLE" />
        </root>

        <logger name="org.apache.james" level="INFO" />
        <logger name="org.apache.james.metrics" level="WARN" />
        <logger name="com.linagora.calendar.restapi" level="DEBUG" />
        <logger name="com.linagora" level="INFO" />

</configuration>
