# Configuration file for JMAP
# Read https://james.apache.org/server/config-jmap.html for further details

enabled=true

tls.keystoreURL=file:///root/conf/jmap-keystore
tls.secret=tmail2026lab9secure

#
# If you wish to use OAuth authentication, you should provide a valid JWT public key.
# The following entry specify the link to the URL of the public key file,
# which should be a PEM format file.
#
jwt.publickeypem.url=file:///root/conf/jwt_publickey

authentication.strategy.rfc8621=BasicAuthenticationStrategy,com.linagora.tmail.james.jmap.oidc.OidcAuthenticationStrategy,com.linagora.tmail.james.jmap.ticket.TicketAuthenticationStrategy

# Should simple Email/query be resolved against a Cassandra projection, or should we resolve them against OpenSearch?
# This enables a higher resilience, but the projection needs to be correctly populated. False by default.
view.email.query.enabled=true

# For generate short lived token
jwt.privatekeypem.url=file:///root/conf/jwt_privatekey

# Gives an URL for OpenID discovery being exposed on .well-known/webfinger endpoint
# CF https://openid.net/specs/openid-connect-discovery-1_0.html
oidc.provider.url=https://auth.${BASE_DOMAIN}/
websocket.url.prefix=wss://jmap.${BASE_DOMAIN}
url.prefix=https://jmap.${BASE_DOMAIN}
dynamic.jmap.prefix.resolution.enabled=true

# OIDC configuration
# Use internal Docker network for backend-to-backend communication
oidc.introspect.url=http://lemonldap-ng:80/oauth2/introspect
oidc.introspect.credentials=Basic amFtZXM6amFtZXM=
oidc.audience=james
oidc.userInfo.url=http://lemonldap-ng:80/oauth2/userinfo
oidc.claim=email

jmap.port=9081

email.send.max.size=27M
upload.max.size=20M
max.size.attachments.per.mail=20M

user.provisioning.enabled=false

calendarEvent.reply.supportedLanguages=en,fr

#disabled.capabilities=com:linagora:params:jmap:forward

emailRecoveryAction.maxEmailRecoveryPerRequest=1000000
emailRecoveryAction.restorationHorizon=15d
websocket.ping.interval=20
support.httpLink=https://${BASE_DOMAIN}/support
