# Ignore database data
twake_db/ldap/bootstrap/users.ldif
twake_auth/config/lmConf-1.json
mail_app/config/domainlist.xml
mail_app/config/jmap.properties
mail_app/config/mailetcontainer.xml
mail_app/config/smtpserver.xml
mail_app/config/usersrepository.xml
mail_app/config/webadmin.properties
mail_app/tmail-web-conf/.env
visio_app/config/nginx.conf
linshare_app/config/backend/linshare.extra.properties
linshare_app/config/user-ui/config.js
drive_app/config/cozy.yaml
chat_app/synapse/homeserver-postgres.yaml
chat_app/synapse/wellknownclient.conf
chat_app/synapse/wellknownserver.conf
chat_app/synapse/.env
chat_app/chat/config.json
calendar_app/conf-side-service/configuration.properties
calendar_app/frontend/account/openpaas.js
calendar_app/frontend/calendar/openpaas.js
calendar_app/frontend/contacts/openpaas.js
calendar_app/frontend/env.js
