window.openpaas = {
    AUTH_PROVIDER: 'oidc',
    OPENPAAS_API_URL: 'https://tcalendar-side-service.${BASE_DOMAIN}',
    BASE_URL: '',
    ACCOUNT_SPA_URL: 'https://account.${BASE_DOMAIN}/account/',
    MAILTO_SPA_URL: 'https://mail.${BASE_DOMAIN}',
    APP_GRID_ITEMS: '[ { "name": "Contacts", "url": "https://contacts.${BASE_DOMAIN}/contacts/" }]',
    AUTH_PROVIDER_SETTINGS: {
        authority: 'https://auth.${BASE_DOMAIN}/',
        client_id: 'openpaas',
        redirect_uri: 'https://calendar.${BASE_DOMAIN}/calendar/auth/oidc/callback',
        silent_redirect_uri: 'https://calendar.${BASE_DOMAIN}/calendar/assets/auth/silent-renew.html',
        post_logout_redirect_uri: 'https://calendar.${BASE_DOMAIN}/calendar',
        response_type: 'code',
        scope: 'openid email profile'
    }
};




