var SSO_BASE_URL = "https://auth.${BASE_DOMAIN}/";
var SSO_CLIENT_ID = "openpaas";
var SSO_SCOPE = "openid profile email";
var SSO_REDIRECT_URI = "https://calendar-ng.${BASE_DOMAIN}/callback";
var SSO_RESPONSE_TYPE = "code";
var SSO_CODE_CHALLENGE_METHOD = "S256";
var SSO_POST_LOGOUT_REDIRECT = "https://calendar-ng.${BASE_DOMAIN}?logout=1";
var CALENDAR_BASE_URL = "https://tcalendar-side-service.${BASE_DOMAIN}";
var VIDEO_CONFERENCE_BASE_URL = "https://meet.${BASE_DOMAIN}";
var MAIL_SPA_URL = "https://mail.${BASE_DOMAIN}";


